<!DOCTYPE html>
<html>
<head>
  <title>Trello Clone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Damion' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="group">
    <input type="text" class="search-bar"><i class="fa fa-search icon-search"></i>
    <a class="logo" href="#/"><h1>TrelloClone</h1></a>
    <% if current_user %>
    <nav>
      <ul class="main-list">
        <li>Hello <%= current_user.email %></li>
        <li><%= button_to "Sign Out", session_url, method: :delete, class: "sign-out-btn" %></li>
        <li><i class="fa fa-bell-o"></i></li>
      </ul>
    </nav>
    <% end %>
  </header>
  <!-- <%#= render partial: "layouts/header" %> -->
  <%= yield %>

  <script>
  $(function() {
    $(".user-option").on("click", function(e){
      e.preventDefault();
      var $modalBack = $("<div class='modal-back'></div>");
      var $modalForm = $("<div class='modal-sign-out'>");
      var $btn = $("<button class='submit'>Sign Out</button>");
      var $p = $("<p>").text("Are you sure to sign out?");
      var $close = $("<i class='close'>&times</i>");
      $modalForm.append($close, $p, $btn);
      $("body").append($modalBack, $modalForm);
    });

    $(".close").on("click", function(e){
      e.preventDefault();
      debugger
      var parentDiv = $(e.currentTarget).parent().remove()
      $(".modal-back").remove();
    });
  });
  </script>
</body>
</html>
