<!DOCTYPE html>
<html>
<head>
  <title>Trello Clone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Damion' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="group">
    <input type="text" class="search-bar"><i class="fa fa-search icon-search"></i>
    <a class="logo" href="#/"><h1>TrelloClone</h1></a>
    <nav>
      <ul class="main-list">
        <li><i class="fa fa-plus"></i></li>
        <li><%= current_user.email %></li>
        <li><i class="fa fa-bell-o"></i></li>
      </ul>
    </nav>
  </header>
  <!-- <%#= render partial: "layouts/header" %> -->
  <%= yield %>

  <script>
  $(function() {
    $( ".list-item" ).sortable({
      appendTo: document.body
    });
    // $("#sortable").sortable();
    // $("#sortable").draggable();
    // $( "#sortable" ).disableSelection();
  });
  </script>
</body>
</html>
